// Menu wrapper
.menu-list {
    width: 224px;
    min-height: 80px;
    padding: 8px 0 8px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// Menu items
.menu-item {
    padding: 10px 8px 10px 16px;
    background-color: #fff;
    width: 100%;
    min-height:44px;
    text-align: left;
    border-radius: 0;
    color: #161823;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//Header

.header {
    position : relative;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}